<mdb-navbar SideClass="navbar navbar-dark indigo">
  
    <logo><a class="navbar-brand" href="#">Web frameworks</a></logo>    
    <links>
  
    <ul class="navbar-nav mr-auto">
       <li class="nav-item" [routerLinkActive]="['active']">
           <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home</a>
       </li>
       <li class="nav-item" [routerLinkActive]="['active']">
           <a [routerLink]="['/login']" class="nav-link waves-light" mdbRippleRadius>login</a>
       </li>
    
    </ul>
    
    </links>
    
    </mdb-navbar>

    

